.background {
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 560px;
    border-radius: var(--b-radius-12);
    overflow: hidden;
    box-shadow: 5px 5px 15px 5px #0a1f46;

    .content {
      background-color: var(--white);
      padding: 64px 48px;
      display: flex;
      flex-direction: column;
      width: 480px;

      .heading {
        font-family: inherit;
        font-weight: 700;
        margin-bottom: 64px;
        text-align: left;
        color: var(--dark-blue);
      }
    }
  }
}
