.background {
  background-image: url("../../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 5px 5px 15px 5px rgba(10, 32, 71, 0.3);

    .content {
      display: flex;
      flex-direction: column;
      z-index: 9;
      width: 480px;
      height: 540px;
      background-color: var(--white);
      padding: 40px 30px;
      box-shadow: -5px 0px 4px 0px rgba(9, 32, 70, 0.48);
      border-radius: 0 12px 12px 0;

      .heading {
        font-family: inherit;
        font-weight: 700;
        margin-bottom: 50px;
        text-align: left;
        color: var(--dark-blue);
      }
    }
  }
}
