.form {
  display: flex;
  flex-direction: column;

  .formInputs {
    margin-bottom: 30px;
  }

  .formItem {
    margin-bottom: 30px;

    .input {
      font-family: inherit;
      padding: 0 0 3px 0;
      border: none;
      border-bottom: 3px solid var(--dark-blue);
      border-radius: 0;
      transition: all 0.3s;

      &::placeholder {
        color: var(--gray);
      }

      &:focus,
      &:active {
        border-bottom: 3px solid var(--light-primary);
        box-shadow: none;
      }
    }
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 400;
  }

  .submitButton {
    background-color: var(--primary);
    color: var(--white);
  }

  .googleButton {
    border: 3px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    width: 100%;
    margin-top: 12px;
  }

  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      color: var(--gray);
      margin: 12px;
      text-align: center;
    }
  }
}

.link {
  font-size: var(--f-size-12);
  font-weight: 500;
  color: var(--primary);
  text-align: center;
  margin: 16px 0;
}
