:root {
  --white: #fff;
  --black: #000;
  --primary: #1356d0;
  --secondary: #89c7ff;

  --gray: #9c9c9c;
  --light-gray: #9f9f9f;
  --dark-blue: #0a1f46;
  --mid-blue: #212f52;
  --gradient: linear-gradient(#1356d0, #0a1f46);

  --f-size-10: 10px;
  --f-size-12: 12px;
  --f-size-14: 14px;
  --f-size-16: 16px;
  --f-size-18: 18px;
  --f-size-20: 20px;

  --b-radius-12: 12px;
}
