.form {
  display: flex;
  flex-direction: column;

  .input {
    font-family: inherit;
    padding: 0 0 0.2rem 0;
    border: none;
    border-bottom: 3px solid var(--black);
    border-radius: 0;

    &::placeholder {
      color: var(--color-gray);
    }

    &:focus,
    &:active {
      border-bottom: 3px solid var(--color-main);
      box-shadow: none;
    }

    &:last-of-type {
      margin-bottom: 0.8rem;
    }
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.5rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .submitBtn {
    background-color: var(--color-main);
    color: var(--white);
    margin-top: 2rem;
  }

  .login {
    color: var(--color-gray);
    text-align: center;
  }

  .googleBtn {
    border: 3px solid var(--color-main);
    background-color: transparent;
    color: var(--color-main);
    width: 100%;
    margin-top: 1rem;
  }
}

.link {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-main);
  text-align: center;
  margin-top: 0.5rem;

  span {
    display: inline-block;
    border-bottom: 1px solid currentColor;
  }
}
