.background {
  position: relative;
  background-image: url("../../images/formBackground.png");
  background-size: cover;
  width: 28vw;
  height: 100%;
  border-radius: 12px 0 0 12px;
  text-align: center;

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--white);

    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 16px 0 0 16px;

      .logo {
        width: 24px;
      }

      .heading {
        font-size: var(--f-size-12);
        margin: 0;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 700;
      margin-top: 50%;
      margin-left: 5%;

      .heading {
        margin-bottom: 8px;
        margin-left: -64px;
      }

      .subheading {
        color: var(--secondary);
        font-size: var(--f-size-18);
        margin-left: 192px;
      }
    }
  }
}
