.background {
  background-image: url("../../images/formBackground.png");
  background-size: cover;
  border-radius: 12px 0 0 12px;
  text-align: center;

  .content {
    display: flex;
    flex-direction: column;
    color: var(--white);

    .header {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 16px 0 0 16px;

      .logo {
        width: 24px;
      }

      .heading {
        font-size: var(--f-size-12);
        margin: 0;
      }
    }

    .text {
      font-weight: 700;
      margin-top: 50%;
      margin-left: 5%;

      .heading {
        margin-bottom: 8px;
        margin-left: -64px;
      }

      .subheading {
        color: var(--secondary);
        font-size: var(--f-size-18);
        margin-left: 192px;
      }
    }
  }
}
